<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.css"
    />
    <title>Список пользователей</title>
    <style type="text/css">
      body {
        padding: 20px;
      }
      #app {
        background: #eee;
        border-radius: 4px;
        padding: 20px;
      }
      th,
      h2 {
        font-weight: bold;
        padding-bottom: 10px;
      }
      img {
        width: 50px;
        height: 50px;
      }
      td,
      th {
        padding: 5px;
        border: 1px solid lightgray;
      }
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div v-cloak id="app">
      <h2>
        {{title}}
      </h2>
      <!--call components here-->
      <users-list v-bind:listed_users="users"></users-list>

      <user-form v-bind:edit_users="users[0]"></user-form>
      <!---Try to call more than  ↑ users[4]-th  element - default value returns-->
    </div>
    <!--define templates to render-->
    <template id="users-list">
      <div>
        <table>
          <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Аватар</th>
          </tr>
          <tr v-for="user in listed_users" v-bind:key="user.ind">
            <td>{{user.surname}}</td>
            <td>{{user.name}}</td>
            <td>{{user.patronymic}}</td>
            <td>
              <img v-if="user.avatar" v-bind:src="user.avatar" />
              <span v-else title="Тут могла бы быть ваша фотография">Ава</span>
            </td>
          </tr>
        </table>
      </div>
    </template>

    <template id="user-form">
      <form>
        <table>
          <tr>
            <td>Имя:</td>
            <td><input type="text" v-model="edit_users.name" /></td>
          </tr>
          <tr>
            <td>Фамилия:</td>
            <td><input type="text" v-model="edit_users.surname" /></td>
          </tr>
          <tr>
            <td><span>Отчество: </span></td>
            <td><input type="text" v-model="edit_users.patronymic" /></td>
          </tr>
          <tr>
            <td><span>Аватар url: </span></td>
            <td><input type="text" v-model="edit_users.avatar" /></td>
          </tr>
        </table>
      </form>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
      /*Component Definition*/
      var UsersList = {
        template: "#users-list",
        props: {
          listed_users: {
            type: Array
          }
        }
      };

      var UserForm = {
        template: "#user-form",
        props: {
          edit_users: {
            type: Object,
            default: function() {
              return {
                name: "Михаил",
                surname: "Кац",
                patronymic: "Абрамович",
                avatar:
                  "https://avataaars.io/?avatarStyle=Circle&topType=Hat&accessoriesType=Blank&hairColor=Auburn&facialHairType=BeardMagestic&facialHairColor=Auburn&clotheType=BlazerShirt&clotheColor=Black&eyeType=Close&eyebrowType=AngryNatural&mouthType=Sad&skinColor=Tanned",
                ind: 4
              };
            }
          }
        }
      };

      /*Vue definition*/
      window.app = new Vue({
        el: "#app",
        components: {
          "users-list": UsersList,
          "user-form": UserForm
        },
        data: function() {
          return {
            tooltip: "Показать список пользователей",
            title: "Пользователи",
            to_show: false,
            users: []
          };
        },
        methods: {
          toggle: function() {
            if (this.to_show) {
              this.to_show = false;
              this.tooltip = "Показать список пользователей";
            } else {
              this.to_show = true;
              this.tooltip = "Скрыть список пользователей";
            }
          },
          count_users: function() {
            return this.users.length;
          },
          get_users: function() {
            this.users = [
              {
                name: "Иван",
                surname: "Иванов",
                patronymic: "Иванович",
                avatar:
                  "https://avataaars.io/?avatarStyle=Circle&topType=LongHairCurvy&accessoriesType=Sunglasses&hairColor=Red&facialHairType=BeardLight&facialHairColor=BrownDark&clotheType=ShirtScoopNeck&clotheColor=Gray01&eyeType=Surprised&eyebrowType=UpDownNatural&mouthType=Grimace&skinColor=DarkBrown",
                ind: 1
              },
              {
                name: "Василий",
                surname: "Петров",
                patronymic: "Николаевич",
                avatar:
                  "https://avataaars.io/?avatarStyle=Circle&topType=ShortHairTheCaesar&accessoriesType=Prescription02&hairColor=Brown&facialHairType=MoustacheFancy&facialHairColor=Red&clotheType=Hoodie&clotheColor=Red&eyeType=Wink&eyebrowType=UpDownNatural&mouthType=Sad&skinColor=Yellow",
                ind: 5
              },
              {
                name: "Андрей",
                surname: "Денисов",
                patronymic: "Олегович",
                ind: 3
              },
              {
                name: "Михаил",
                surname: "Кац",
                patronymic: "Абрамович",
                avatar:
                  "https://avataaars.io/?avatarStyle=Circle&topType=Hat&accessoriesType=Blank&hairColor=Auburn&facialHairType=BeardMagestic&facialHairColor=Auburn&clotheType=BlazerShirt&clotheColor=Black&eyeType=Close&eyebrowType=AngryNatural&mouthType=Sad&skinColor=Tanned",
                ind: 4
              },
              {
                name: "Евгений",
                surname: "Ботинкин",
                patronymic: "Алексеевич",
                avatar:
                  "https://avataaars.io/?avatarStyle=Circle&topType=ShortHairTheCaesarSidePart&accessoriesType=Prescription02&hairColor=Auburn&facialHairType=Blank&clotheType=BlazerShirt&eyeType=WinkWacky&eyebrowType=Default&mouthType=Default&skinColor=Tanned",
                ind: 8
              }
            ];
          }
        },
        computed: {
          compute_users: function() {
            return this.users.length;
          }
        },
        watch: {
          users: function() {
            console.log("users loaded");
          }
        },
        filters: {
          uppercase: function(value) {
            if (!value) return "";
            value = value.toString();
            return value.toUpperCase();
          }
        },
        directives: {
          tooltip: {
            inserted: function(el, binding, vnode) {
              el.title = vnode.context.tooltip;
            },
            update: function(el, binding, vnode) {
              el.title = vnode.context.tooltip;
            }
          }
        },
        mounted: function() {
          this.get_users();
        }
      });
    </script>
  </body>
</html>
